<% provide(:title, "about") %>
<h1>about</h1>
<p>
  mnswap was started in 2017 as both a result of learning how to program, and a dream to take
  the prevalent swap and shop community off facebook to a secure, uncensored, apolitical, local venue.  
</p>
