<footer class="footer">
  <small>
    <a href="http://www.mnswap.com/">mnswap.com</a>
    by <a href="http://www.nolangherity.com/">nolan gherity</a>
  </small>
  <nav>
     <ul>
       <li><%= link_to "About",   about_path %></li>
       <li><%= link_to "Contact", contact_path %></li>
       <li><a href="http://blog.mnswap.com/">blog</a></li>
     </ul>
   </nav>
 </footer>
